@model IEnumerable<ProyectoFinanzas.Models.Productos>

@{
    ViewBag.Title = "Historial";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Historial Productos Nuevos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Producto Sin Precio")
        </th>
        <th>
            @Html.DisplayName("Fecha de Alta")
        </th>
        <th>
            @Html.DisplayName("Precio de Venta Sugerido")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.fechaAlta))
        </td>
        <td>
            @Convert.ToDecimal(item.precio_venta).ToString("#,##0.00")
        </td>
        <td>
            @switch (item.status)
            {
                case 1:
                    @Html.Label("Pendiente", new { @Class = "alert alert-warning" });
                    break;
                case 2:
                    @Html.Label("Rechazado", new { @Class = "alert alert-danger" });
                    break;
                case 3:
                    @Html.Label("Aprobado", new { @Class = "alert alert-success" });
                    break;
            }
        </td>
    </tr>
}

</table>
