<!DOCTYPE html>
<html>
<head>
	@Styles.Render("~/Content/css")
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Plantas y Árboles</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/css/animate.css">

	<link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/Content/css/magnific-popup.css">

	<link rel="stylesheet" href="~/Content/css/aos.css">

	<link rel="stylesheet" href="~/Content/css/ionicons.min.css">

	<link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">


	<link rel="stylesheet" href="~/Content/css/flaticon.css">
	<link rel="stylesheet" href="~/Content/css/icomoon.css">
	<link rel="stylesheet" href="~/Content/css/style.css">

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" />

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<script src="~/Content/js/jquery.min.js"></script>
	<script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/Content/js/popper.min.js"></script>
	<script src="~/Content/js/bootstrap.min.js"></script>
	<script src="~/Content/js/jquery.easing.1.3.js"></script>
	<script src="~/Content/js/jquery.waypoints.min.js"></script>
	<script src="~/Content/js/jquery.stellar.min.js"></script>
	<script src="~/Content/js/owl.carousel.min.js"></script>
	<script src="~/Content/js/jquery.magnific-popup.min.js"></script>
	<script src="~/Content/js/aos.js"></script>
	<script src="~/Content/js/jquery.animateNumber.min.js"></script>
	<script src="~/Content/js/bootstrap-datepicker.js"></script>
	<script src="~/Content/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="~/Content/js/google-map.js"></script>
	<script src="~/Content/js/main.js"></script>

	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


</head>

<body class="goto-here">

    <div class="py-1 bg-primary">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">7220604179</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">administradorFinanzas@arbolesyplantas.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">3-5 Finanzas &amp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="background-color:white">
        <div class="container">
            <a class="navbar-brand" href="index.html">Plantas y Árboles</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item active">
                        @Html.ActionLink("Pago a Proveedores", "Index", "Facturas", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="proveedores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class=" fas fa-user-circle"></i>Compras
                        </a>
                        <div class="dropdown-menu" aria-labelledby="proveedores">
                            <a href="@Url.Action("Index","Proveedores")" class="dropdown-item">Ver Proveedores</a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Create","Proveedores")" class="dropdown-item">Nuevo Proveedor</a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Index","Compras")" class="dropdown-item">Compras</a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Existencias","Compras")" class="dropdown-item">Sugerencias</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="finanzas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class=" fas fa-user-circle"></i>Finanzas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="finanzas">
                            <a href="@Url.Action("FinanzasCompras","presupuestoes")" class="dropdown-item">Solicitudes Presupuestos</a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("FinanzasProductosAprobar","Productos")" class="dropdown-item">Precio Venta Producto</a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("FinanzasProductos","DetalleProductoes")" class="dropdown-item">Actualizar Precio Producto</a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("FinanzasOfertas","ofertas")" class="dropdown-item">Solicitudes Ofertas</a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("FinanzasProveedores","ordenPagoes")" class="dropdown-item">Solicitudes de Pago a Proveedores</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("Index","Home")" class="nav-link">Ventas</a>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("Index","Home")" class="nav-link">Almacen y Envio</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

    </div>

    <footer class="ftco-footer ftco-section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Acerca de la tienda</h2>
                        <p>Somos una distribuidora de arboles y plantas</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Inicio</a></li>
                            <li><a href="#" class="py-2 d-block">Productos</a></li>
                            <li><a href="#" class="py-2 d-block">Acerca de</a></li>
                            <li><a href="#" class="py-2 d-block">Contactanos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Help</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">FAQs</a></li>
                                <li><a href="#" class="py-2 d-block">Contactanos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Información de contacto</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Instituto Tecnologico de Toluca, <br> Av.Tecnologico #2313, Metepec</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+52 7227892889</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info.artemisa@artemisa.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

</body>
</html>