@model IEnumerable<ProyectoEcommerce.Models.ofertas>

@{
    ViewBag.Title = "Index";
}

<h2>Ofertas </h2>

<p>
    @Html.ActionLink("Agregar oferta a producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaBaja)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.porcentajeDescuento)
        </th>
        

        <th>

        </th>

        <th>
            Detalles
        </th>
        <th>
            Eliminar
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaBaja)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeDescuento)
        </td>
        




        <td>
            @Html.ActionLink("Cambiar Porcentaje", "Edit", new { id = item.Id })


        </td>
        <td> @Html.ActionLink("Detalles", "Details", new { id = item.Id }) </td>
        <td> @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</td>

        <td>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-success btn-lg" onclick="pulsar()">
                        <i class="fa fa-check-square"></i> Mandar para Autorización
                    </button>
                </div>
            </div>

        </td>



    </tr>
}

</table>
<SCRIPT languaje="JavaScript">
    function pulsar() {

        alert("Solicitud Exitosa");
    }
</SCRIPT>