@model IEnumerable<ProyectoFinanzas.Models.DetalleProducto>

@{
    ViewBag.Title = "FinanzasProductosOfertas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Solicitudes de cambio de precio por Oferta</h2>

<br>
<table class="table table-striped alert-success" id="myTable">
    <thead class="thead-light text-center">
        <tr>
            <th>
                @Html.DisplayName("# Solicitud")
            </th>
            <th>
                @Html.DisplayName("Producto")
            </th>
            <th>
                @Html.DisplayName("Fecha de Alta")
            </th>
            <th>
                @Html.DisplayName("Precio Anterior $")
            </th>
            <th>
                @Html.DisplayName("Descuento %")
            </th>
            <th>
                @Html.DisplayName("Precio con Descuento $")
            </th>
            <th>
                @Html.DisplayName("Razón")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>

            <th>
                @Html.DisplayName("Acciones")
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.nombre)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.fechaAlta))
        </td>
        <td>
            @Convert.ToDecimal(item.precio_anterior).ToString("#,##0.00")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeDescuento)
        </td>
        <td>
            @Convert.ToDecimal(item.precio_nuevo).ToString("#,##0.00")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon)
        </td>
        <td>
            @switch (item.status)
            {
                case 1:
                    @Html.Label("Pendiente", new { @Class = "alert alert-warning" });
                    break;
                case 2:
                    @Html.Label("Rechazado", new { @Class = "alert alert-danger" });
                    break;
                case 3:
                    @Html.Label("Aprobado", new { @Class = "alert alert-success" });
                    break;
            }
        </td>

        <td>
            @Html.ActionLink("Aprobar", "AprobarStatus", new { id = item.Id }) |
            @Html.ActionLink("Rechazar", "RechazarStatus", new { id = item.Id })
        </td>
    </tr>
        }

</table>
<br />
<button class="alert-info">
    @Html.ActionLink(" Ver Historial Productos", "HistorialProductos")
</button>

