@model IEnumerable<ProyectoFinanzas.Models.DetalleProducto>

@{
    ViewBag.Title = "FinanzasProductos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Actualizar de Precio de Venta Productos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Producto")
        </th>
        <th>
            @Html.DisplayName("Fecha de Alta")
        </th>
        <th>
            @Html.DisplayName("Área que solicita")
        </th>
        <th>
            @Html.DisplayName("Precio Anterior")
        </th>
        <th>
            @Html.DisplayName("Precio Nuevo")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>

        <th>
            @Html.DisplayName("Acciones")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.nombre)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.fechaAlta))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.areaSolicita)
        </td>
        <td>
            @Convert.ToDecimal(item.precio_anterior).ToString("#,##0.00")
        </td>
        <td>
            @Convert.ToDecimal(item.precio_nuevo).ToString("#,##0.00")
        </td>
        <td>
            @switch (item.status)
            {
                case 1:
                    @Html.Label("Pendiente", new { @Class = "alert alert-warning" });
                    break;
                case 2:
                    @Html.Label("Rechazado", new { @Class = "alert alert-danger" });
                    break;
                case 3:
                    @Html.Label("Aprobado", new { @Class = "alert alert-success" });
                    break;
            }
        </td>

        <td>
            @Html.ActionLink("Aprobar", "AprobarStatus", new { id = item.Id }) |
            @Html.ActionLink("Rechazar", "RechazarStatus", new { id = item.Id })
        </td>
    </tr>
    }

</table>
<br />
<button class="alert-info">
    @Html.ActionLink(" Ver Historial Productos", "HistorialProductos")
</button>