@model IEnumerable<ProyectoFinanzas.Models.DetalleProducto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.areaSolicita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_anterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_nuevo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentajeDescuento)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.areaSolicita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_anterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_nuevo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeDescuento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
