@model ProyectoFinanzas.Models.devolucion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>devolucion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDevolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opcionDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opcionDevolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facturas.metodo_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facturas.metodo_pago)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
